<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>Any Characters</string>
		<key>regularExpression</key>
		<string>.+?</string>
		<key>allowsBackreferences</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<string>Any Word Characters</string>
		<key>regularExpression</key>
		<string>\w+</string>
		<key>allowsBackreferences</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<string>Non-ASCII Characters</string>
		<key>regularExpression</key>
		<string>[^\00-\x7E]+</string>
		<key>allowsBackreferences</key>
		<true/>
		<key>isNegation</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<string>Word Break</string>
		<key>regularExpression</key>
		<string>\b</string>
		<key>allowsBackreferences</key>
		<false/>
	</dict>
	<dict>
		<key>id</key>
		<string>White Space</string>
		<key>regularExpression</key>
		<string>\s+</string>
		<key>allowsBackreferences</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<string>Digits</string>
		<key>regularExpression</key>
		<string>\d+</string>
		<key>allowsBackreferences</key>
		<true/>
	</dict>
	<dict>
		<key>id</key>
		<string>Hexadecimal Digits</string>
		<key>regularExpression</key>
		<string>[:xdigit:]+</string>
		<key>allowsBackreferences</key>
		<true/>
	</dict>
</array>
</plist>
